.fineuploader-container {
    border: 2px dashed #ccc !important;
    padding: 1rem 2rem;
}

.qq-upload-button-selector.qq-upload-button {
    background-color: #0082c7 !important;
    color: #fff !important;
    padding-left: 10px;
    padding-right: 10px;
}

.qq-upload-button-selector.qq-upload-button:hover {
    background-color: red !important;
    color: #fff !important;
}

.qq-progress-bar {
    background: #0082c7 !important;
    border-radius: 2px !important;
}

.qq-upload-button-selector.qq-upload-button {
    width: 250px !important;
}

.qq-upload-list-selector.qq-upload-list {
    margin-top: 10px !important;
}

.qq-upload-list-selector.qq-upload-list li {
    margin-top: 5px !important;
}

.qq-total-progress-bar-container-selector.qq-total-progress-bar-container {
    margin-left: 0 !important;
}



